In [4]:
import numpy as np
import pandas as pd
from numpy import log2 as log
eps = np.finfo(float).eps

In [5]:
print(eps)

2.220446049250313e-16

In [55]:
outlook = "overcast,overcast,overcast,overcast,rainy,rainy,rainy,rainy,rainy,sunny,sunny,sunny,sunny,sunny".split(",")
temp = "hot,cool,mild,hot,mild,cool,cool,mild,mild,hot, hot,mild,cool,mild".split(",")
humidity = "high,normal,high, normal,high,normal,normal,normal,high,high,high,high,normal,normal".split(",")
windy = "FALSE,TRUE,TRUE,FALSE,FALSE,FALSE,TRUE,FALSE,TRUE,FALSE,TRUE,FALSE,FALSE,TRUE".split(",")
play = "yes,yes,yes,yes,yes,yes,no,yes,no,no,no,no,yes,yes".split(",")

In [56]:
dataset = {"outlook": outlook, "temp":temp, "humidity": humidity, "windy": windy, "play": play}
df = pd.DataFrame(dataset)
df

     outlook  temp humidity  windy play
0   overcast   hot     high  FALSE  yes
1   overcast  cool   normal   TRUE  yes
2   overcast  mild     high   TRUE  yes
3   overcast   hot   normal  FALSE  yes
4      rainy  mild     high  FALSE  yes
5      rainy  cool   normal  FALSE  yes
6      rainy  cool   normal   TRUE   no
7      rainy  mild   normal  FALSE  yes
8      rainy  mild     high   TRUE   no
9      sunny   hot     high  FALSE   no
10     sunny   hot     high   TRUE   no
11     sunny  mild     high  FALSE   no
12     sunny  cool   normal  FALSE  yes
13     sunny  mild   normal   TRUE  yes

In [57]:
# Entropy Off Whole Dataset (Play -> Yes || NO)
entropy_node = 0
values = df.play.unique()
for value in values:
    fraction = df.play.value_counts()[value] / len(df.play)
    entropy_node += -fraction * np.log2(fraction)
    
entropy_node

0.9402859586706311

In [74]:
def entropy_attribute(df, attribute):
    target_variables = df.play.unique()
    variables = df[attribute].unique()
    
    entropy_attribute = 0
    
    for variable in variables:
        entropy_each_feature = 0
        for target_variable in target_variables:
            num = len(df[attribute][df[attribute] == variable][df.play == target_variable])
            den = len(df[attribute][df[attribute] == variable])
            print(variable, target_variable, num, den)
            fraction = num / (den + eps) #Pi
            entropy_each_feature += -fraction * log(fraction+eps)
        fraction2 = den / len(df)
        entropy_attribute += -fraction2 * entropy_each_feature
    
    return abs(entropy_attribute)
    

attribute_entropy = {k: entropy_attribute(df, k) for k in df.keys()[:-1]}
attribute_entropy

overcast yes 4 4
overcast no 0 4
rainy yes 3 5
rainy no 2 5
sunny yes 2 5
sunny no 3 5
hot yes 2 3
hot no 1 3
cool yes 3 4
cool no 1 4
mild yes 4 6
mild no 2 6
 hot yes 0 1
 hot no 1 1
high yes 3 7
high no 4 7
normal yes 5 6
normal no 1 6
 normal yes 1 1
 normal no 0 1
FALSE yes 6 8
FALSE no 2 8
TRUE yes 3 6
TRUE no 3 6

{'outlook': 0.6935361388961914,
 'temp': 0.822126786023352,
 'humidity': 0.7711951058664198,
 'windy': 0.892158928262361}