In [2]:
!pip install pandas numpy matplotlib seaborn sklearn

Requirement already satisfied: pandas in c:\python39\lib\site-packages (1.5.2)

WARNING: You are using pip version 20.2.3; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\python39\python.exe -m pip install --upgrade pip' command.

Requirement already satisfied: numpy in c:\users\ilzam\appdata\roaming\python\python39\site-packages (1.24.1)
Requirement already satisfied: matplotlib in c:\python39\lib\site-packages (3.4.1)
Requirement already satisfied: seaborn in c:\python39\lib\site-packages (0.11.2)
Requirement already satisfied: sklearn in c:\python39\lib\site-packages (0.0)
Requirement already satisfied: pytz>=2020.1 in c:\python39\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ilzam\appdata\roaming\python\python39\site-packages (from pandas) (2.8.1)
Requirement already satisfied: cycler>=0.10 in c:\python39\lib\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pillow>=6.2.0 in c:\python39\lib\site-packages (from matplotlib) (9.3.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\ilzam\appdata\roaming\python\python39\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\python39\lib\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: scipy>=1.0 in c:\python39\lib\site-packages (from seaborn) (1.6.3)
Requirement already satisfied: scikit-learn in c:\python39\lib\site-packages (from sklearn) (0.24.2)
Requirement already satisfied: six>=1.5 in c:\users\ilzam\appdata\roaming\python\python39\site-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)
Requirement already satisfied: joblib>=0.11 in c:\python39\lib\site-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\python39\lib\site-packages (from scikit-learn->sklearn) (2.1.0)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('sms_spam.csv')
df.head()

                                                Teks  label
0  [PROMO] Beli paket Flash mulai 1GB di MY TELKO...  promo
1  2.5 GB/30 hari hanya Rp 35 Ribu Spesial buat A...  promo
2  2016-07-08 11:47:11.Plg Yth, sisa kuota Flash ...  promo
3  2016-08-07 11:29:47.Plg Yth, sisa kuota Flash ...  promo
4  4.5GB/30 hari hanya Rp 55 Ribu Spesial buat an...  promo

In [5]:
# promo, penipuan, normal
df.describe()

                                                     Teks   label
count                                                1143    1143
unique                                               1142       3
top     bebas nama1, terus nanti kalau ada tgl libur, ...  normal
freq                                                    2     569

In [6]:
promo = df.query('label == "promo"')
promo.head()

                                                Teks  label
0  [PROMO] Beli paket Flash mulai 1GB di MY TELKO...  promo
1  2.5 GB/30 hari hanya Rp 35 Ribu Spesial buat A...  promo
2  2016-07-08 11:47:11.Plg Yth, sisa kuota Flash ...  promo
3  2016-08-07 11:29:47.Plg Yth, sisa kuota Flash ...  promo
4  4.5GB/30 hari hanya Rp 55 Ribu Spesial buat an...  promo

In [7]:
penipuan = df.query('label == "penipuan"')
penipuan.head()

                                                  Teks     label
239  Jika anda bermasalah dgn CC/KT@, stres dgn bun...  penipuan
240  Lelah byr min payment? Kami Solusinya, bantu s...  penipuan
241  Dana Tunai (KTA) bunga 0,99% hingga 300 jt. Sy...  penipuan
242  “ROXI CELL” Hanya dengan Rp.100rb Anda bisa ja...  penipuan
243  3 RAMADHAN Selamat Anda Pemenang Rp.100jt. PIN...  penipuan

In [8]:
normal = df.query('label == "normal"')
normal.head()

                                                  Teks   label
574                      Di kfc yg deket enhaii ada dy  normal
575   Maaf jika ada janji yang belum terpenuhi, jik...  normal
576                       *ngsih bunga ato coklat min   normal
577  .sambl nunggu itu.. Gimana kalo ngerjain form ...  normal
578  [Akademik] Untuk perhatian tuk jadwal kontrak ...  normal

In [15]:
promo_percentage = promo['Teks'].count() / df['Teks'].count()
penipuan_percentage = penipuan['Teks'].count() / df['Teks'].count()
normal_percentage = normal['Teks'].count() / df['Teks'].count()

promo_percentage, penipuan_percentage, normal_percentage

(0.20909886264216973, 0.29308836395450566, 0.4978127734033246)

In [16]:
# split the text column into separate words
promo_word = promo['Teks'].str.split(expand=True).stack().reset_index(drop=True)

# count the number of occurrences of each word
promo_word_count = promo_word.value_counts(normalize=True).reset_index()

# rename the columns
promo_word.columns = ['word', 'percentage']
promo_word

0          [PROMO]
1             Beli
2            paket
3            Flash
4            mulai
           ...
5135             &
5136        lokasi
5137         lihat
5138            di
5139    tsel.me/FL
Length: 5140, dtype: object

In [17]:
# split the text column into separate words
penipuan_word = penipuan['Teks'].str.split(expand=True).stack().reset_index(drop=True)

# count the number of occurrences of each word
penipuan_word_count = penipuan_word.value_counts(normalize=True).reset_index()

# rename the columns
penipuan_word_count.columns = ['word', 'percentage']
penipuan_word_count

                                 word  percentage
0                                anda    0.015201
1                                  di    0.014491
2                                Anda    0.011081
3                                  ke    0.010655
4                              hadiah    0.008382
...                               ...         ...
3210                      pin;M248K81    0.000142
3211  www.hadiah-mkios17.blogspot.com    0.000142
3212                              dr.    0.000142
3213                          M248K81    0.000142
3214                    082110001021.    0.000142

[3215 rows x 2 columns]

In [18]:
# split the text column into separate words
normal_word = normal['Teks'].str.split(expand=True).stack().reset_index(drop=True)

# count the number of occurrences of each word
normal_word_count = normal_word.value_counts(normalize=True).reset_index()

# rename the columns
normal_word_count.columns = ['word', 'percentage']
normal_word_count

             word  percentage
0              di    0.015518
1              yg    0.014213
2             aku    0.013198
3             ada    0.013053
4           nama1    0.010877
...           ...         ...
3071      control    0.000145
3072  dicotroller    0.000145
3073         klik    0.000145
3074      button.    0.000145
3075          bri    0.000145

[3076 rows x 2 columns]

In [ ]:
new_sms = "jadi ambil promo yang kemarin nggak bro?"